<div class="audit-log-container">
  <h2>Audit Logs</h2>
  
  <!--<input type="text" placeholder="Search logs..." [(ngModel)]="searchTerm" (input)="filterLogs()" />-->
  <input type="text" placeholder="Search logs..." (input)="filterLogs()" />

  <button (click)="exportToExcel()">Export to Excel</button>

  <table>
      <thead>
          <tr>
            <th>SNo.</th>
            <th>Changed By</th>
            <th>Action</th>
              <th>Old Value</th>
              <th>New Value</th>
              <th>Changed At</th>
              <th>Device Details</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of filteredLogs; trackBy: trackByEntityId; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ log.userName }}</td>
          <td>{{ log.action }}</td>
          <td>{{ log.oldValue }}</td>
          <td>{{ log.newValue }}</td>
          <td>{{ log.timestamp }}</td>
          <td>{{ log.deviceDetails }}</td>
        </tr>
      </tbody>
  </table>
</div>
